.git
.github
.next
**/.next
.turbo
**/.turbo
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
playwright-report
test-results
**/C:*
.env
.env.*
**/.env
**/.env.*
*.log
*.tsbuildinfo
artifacts/content/*
!artifacts/content/.gitkeep
